bootloader/
build/
modules/
tools/
.west/
zephyr/
application/build/
.envrc
.vscode/
*.code-workspace
.west_installation/
zephyr-dw3xxx-dev/
zephyr-dwm3001cdk/
zephyr-dw3xxx/
sam-dwm3001cdk/
sam-dw3000/
sam-core/
cloves-client/
z85/

application/compile_commands.json

.cache/

downloads/